@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clear-fix {
    clear: both;
}
.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}
/* Set typography */
h1 {
    font-size: 1.8rem;
    line-height: 2rem;
}
h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
}
h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}
/* Base font size */
h4 {
    font-size: 1rem;
    line-height: 1.2rem;
}
h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
}
h6 {
    font-size: 0.8rem;
    line-height: 1rem;
}
/* Layouts */
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
#app-row {
    background-color: #fff;
    height: 80px;
}
#app-row>.container {
    height: 100%;
    padding: 10px 0;
}
#app-row>.container>#logo {
    height: 60px;
    float: left;
}
#app-row>.container>.wrapper {
    float: right;
    width: 70%;
    height: 100%;
}
#app-row>.container>.wrapper>.row:first-child {
    background-color: #fff;
}
#nav-lang>li {
    font-size: 0.8rem;
    float: left;
}
#nav-lang>li>a {
    text-decoration: none;
    color: black;
}
#nav-lang>li:not(#nav-lang>li:last-child) {
    padding-right: 20px;
}
#nav-lang>li>a:hover {
    text-decoration: underline;
    color: #ff9d1e;
}
#nav-lang {
    float: right;
}
#app-row>.container>.wrapper>.row:last-child {
    padding-top: 20px;
}
#nav-main {
    float: left;
}
#nav-main>nav>li {
    margin-top: 5px;
    padding: 0 24px;
    float: left;
}
#nav-main>nav>li>a {
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}
#nav-main>nav>li>a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#smi-container {
    float: right;
}
#smi-container>ul>li {
    background-color: green;
    float: left;
    margin-left: 10px;
}
#smi-container>ul>li>a>ion-icon {
    padding: 5px;
    font-size: 18px;
}
#smi-container>ul>li:nth-child(1) {
    background-color: #3f4da1;
}
#smi-container>ul>li:nth-child(2) {
    background-color: #57a0d7;
}
#smi-container>ul>li:nth-child(3) {
    background-color: #57a0d7;
}
#smi-container>ul>li:nth-child(4) {
    background-color: #d74527;
}
#smi-container>ul>li>a>ion-icon {
    color: white;
}

#nav-row {
    background-color: black;
    height: 50px;
}
#nav-row>.container {
    height: 100%;
}
#nav-row>.container>nav>li>a {
    float: left;
    text-decoration: none;
    line-height: 1.5;
    font-size: 0.85rem;
    padding: 15px 8px;
    color: white;
    position: relative;
}
#nav-row>.container>nav>li>a::after {
    opacity: 0;
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff9d1e;
}
#nav-row>.container>nav>li>a:hover::after {
    opacity: 1;
}
#nav-row>.container>nav>li>a:hover {
    color: black;
    background-color: #ff9d1e;
    cursor: pointer;
}
#misc-row {
    background-color: #ffde00;
    height: 50px;
}
#misc-row>.container {
    height: 100%;
}
#misc-row>.container>ul>li {
    margin-top: 5px;
    margin-left: 3px;
    float: right;
    height: 38px;
    background-color: #107ECE;
    border-radius: 5px;
    box-shadow: 0 2px 0 black;;
}
#misc-row>.container>ul>li:hover {
    background-color: #0865a9;
    cursor: pointer;
}
#misc-row>.container>ul>li>a {
    font-size: 0.85rem;
    line-height: 40px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

#sponsor-row {
    height: 90px;
    background-color: #3f4da1;
}
#sponsor-row>.container {
    height: 100%;
    background-color: #ff9d1e;
}
#sponsor-row>.container>#flag-section {
    float: left;
}
#sponsor-row>.container>img {
    float: right;
}

footer>.row {
    background-color: #808285;
}
footer>#copyright-row {
    background-color: #ffde00   ;
}
#copyright-row>.container {
    padding: 16px 0;
    color: #515254;
    font-size: 0.7rem;
    text-align: center;
}
footer>.row>.container>.col {
    width: 25%;
    height: 215px;
    padding-top: 10px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
footer>.row>.container>.col:first-child {
    background-color: transparent;
}
footer>.row>.container>.col:nth-child(2) {
    background-color: transparent;
}
footer>.row>.container>.col:nth-child(3) {
    background-color: transparent;
}
footer>.row>.container>.col:nth-child(4) {
    z-index: 2;
    background-color: #515254;
}
footer>.row>.container>.col>h3 {
    color: white;
    margin-bottom: 0.8rem;
}
footer>.row>.container>.col>nav>li>a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.8;
}
footer>.row>.container>.col>nav>li>a:hover {
    color: #ffde00;
    text-decoration: underline;
}
footer>.row>.container>.col>p {
    color: white;
    padding-bottom: 2px;
    font-size: 0.8rem;
    line-height: 1.8;
}
footer>.row {
    position: relative;
}
footer>.row::after {
    z-index: 1;
    position: absolute;
    width: 25%;
    display: block;
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    background-color: #515254;
}
/* Aside */
aside{
    font-weight: bold;
    background-color: #1f1f1f;
    position: fixed;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    bottom: 25%;
    z-index: 99999;
}
aside:hover{
    right: -31px;
}
aside a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
aside a ion-icon{
    color: black;
    font-size: 1rem;
    vertical-align: middle;
    transform: rotate(90deg);
}
#bubble-wrapper{
    position: relative;
    display: inline-block;
    background-color:#ffde00;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 4px;
}
#bubble-wrapper::before{
    display: block;
    content: "";
    background-color: #ffdd0057;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes wave {
    from{
        transform: scale(0);
        opacity: 1;
    }
    to{
        transform: scale(15);
        opacity: 0.5;
    }
}